# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle

# Virtual environment
venv/
.env

# OS files
.DS_Store

# Cache and logs
*.log
*.cache/

# Large model or data files
*.onnx
*.bin
*.pt
*.h5
models/
.env
